.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(84, 84, 145, 0.91);
}

.logo {
  text-decoration: none;
  color: #333;
}

.logo h1 {
  font-size: 32px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.login-button {
  background-color: rgb(84, 84, 145);
  margin-right: 20px;
}

.register-button {
  background-color: rgb(84, 84, 145);
}

.login-button:hover,
.register-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .logo h1 {
    font-size: 24px;
  }

  .button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
