<nav class="top-bar">
  <a [routerLink]="['/']" class="logo">
    <h1>Journey Journal</h1>
  </a>
  <div class="buttons">
    <button *ngIf="isLogged" (click)="favouritesButton()" id="favourites"><i class="fa fa-bookmark fa-2x"
                                                                             style="color: #ff8800;"></i></button>
    <button *ngIf="!isLogged" (click)="loginButton()" class="button login-button">
      Login
    </button>

    <button *ngIf="isLogged" (click)="logout()" class="button register-button">
      Logout
    </button>

    <button *ngIf="!isLogged" (click)="registerButton()" class="button register-button">
      Register
    </button>
  </div>
</nav>
