.sidenav {
  position: static;
  height: 100%;
  overflow-x: hidden;
  padding-top: 80px;
}

.sidenav a {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: rgb(44, 44, 44);
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.sidenav a:hover {
  color: #fff;
  background-color: rgb(0, 0, 0);
}

.category-icon {
  margin-right: 10px;
}

.category-name {
  font-weight: bold;
}
