.main {
  display: flex;
}

.row {
  display: flex;
  min-height: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex: 50%;
  padding: 10px;
}

.side {
  flex: 15%;
}

.content {
  flex: 85%;
  display: flex;
  flex-flow: row;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
