.voucher {
  width: 220px;
}

.voucher-name {
  color: #151111;
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: scroll;
  text-decoration: none;
}

.vouchers-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

