<div class="register-page">

  <form [formGroup]="form" (submit)="registerFunc()" class="form">
    <h3 class="title">Register</h3>
    <div class="input-group">
      <label for="name">Name</label>
      <input formControlName="name" id="name" type="text" placeholder="Name" required>
    </div>
    <div class="input-group">
      <label for="surname">Surname</label>
      <input formControlName="surname" id="surname" type="text" placeholder="Surname" required>
    </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="text" placeholder="Email" required>
    </div>
    <div class="input-group">
      <label for="username">Username</label>
      <input formControlName="username" id="username" type="text" placeholder="Username" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input formControlName="password" id="password" type="password" placeholder="Password" required>
    </div>
    <button class="button" type="submit">Register</button>
    <p class="message">Already registered? <a [routerLink]="['/login']">Sign In</a></p>
  </form>
</div>
