p {
  font-size: 20px;
}
.voucher-poster{
  position: relative;
  top:90px;
  margin-left: 100px;
}
.voucher-detail{
  position: absolute;
  top: 200px;
  margin-left: 650px;
  padding: 10px;
}
.details{
  position: absolute;
  top: 700px;
  margin-left: 90px;

  padding: 10px;
}
