body {
  background-image: url('https://klike.net/uploads/posts/2022-11/1669789432_3-48.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-size: 20px;
}

.voucher-poster {
  position: relative;
  top: 90px;
  margin-left: 100px;
}

.voucher-detail {
  position: absolute;
  top: 200px;
  margin-left: 650px;
  padding: 10px;
}

.details {
  position: absolute;
  top: 700px;
  margin-left: 90px;

  padding: 10px;
}

body {
  background-color: #e7e7fc;
  width: 1230px;
  padding: 20px;
  font-size: 18px;
}

textarea {
  width: 99%;
  height: 100px;
}

.fa-heart {
  display: inline-block;
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.fa-telegram {
  color: #0099ff;
  cursor: pointer;
}

#isLiked-false {
  border: none;
  background-color: white;
}

#isLiked-true {
  border: none;
  background-color: white;
}

#share {
  border: none;
  background-color: white;
}

.buttons {
  cursor: pointer;
}

.backButton {
  color: #545491;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  margin-right: 20px;
  border-color: #545491;
  font-weight: bold;
}

.comment-btn {
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #545491;
  margin-right: 20px;
  font-weight: bold;
}

.review {
  background-color: #cecee3;
  margin-top: 20px;
}

.star {
  color: #ffa600;

}

#comment-desc {
  background-color: #e4e4ee;
}

.fa-bookmark {
  border: none;
  background-color: white;
  cursor: pointer;

}

#favourites-true {
  border: none;
  border-color: white;

}

#favourites-false {
  border: none;
  border-color: white;
}

.voucher-poster {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
