<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-UF2kW4SkVn0hKqv1XlJFbRnoPcixDy8yo5w6oQv4YBZ/iq4auKtaOz9Xv1c2aiu7" crossorigin="anonymous">


<div class = "main-body" *ngIf="voucher">
  <div class="voucher-detail-container">

    <div class="voucher-poster">
      <img src="assets/vouchers/{{voucher.img}}" alt="voucher image" width="500" height="500">
    </div>

    <div class="voucher-detail">
      <h1>{{voucher.name}}</h1>
      <div class="short-info">
        <div class="rate"><span>Rate: <strong>{{voucher.rate}}</strong></span>
        <span class = "star">&#9733;</span>
        </div>
        <div class="duration"><span>Price: <strong>{{voucher.price}}</strong></span></div>
      </div>

      <div class="btns">
        <p *ngIf="isLiked === false">
          <button id = "isLiked-false" (click)="onClick()" class="likeButton"><i class="fa fa-heart fa-2x"></i> ️{{ voucher.like }}</button>
        </p>
        <p *ngIf="isLiked === true">
          <button id = "isLiked-true" (click)="onClick()" class="likeButton"><i class="fa fa-heart fa-2x"></i>️{{ voucher.like }}</button>
        </p>
        <p>
        <button id = "share" (click)="share(voucher)"><i class="fab fa-telegram fa-2x"></i></button>
        </p>
        <p *ngIf="favourites === false">
        <button *ngIf="isLogged" id = "favourites-false" (click) = "addToFavourites(voucher)"><i class="fa fa-bookmark fa-2x" style="color: #919190;"></i></button>
        </p>
        <p *ngIf="favourites === true">
          <button *ngIf="isLogged" id = "favourites-true" ><i class="fa fa-bookmark fa-2x" style="color: #ff8800;"></i></button>
        </p>

      </div>

    </div>
    <div class = "details">
      <h1>Description</h1>
      <p class="desc">
        {{voucher.description}}
      </p>
      <button (click)="goBack()" class="backButton">Go Back</button>

      <body>
      <div class="main-area">
        <h1>Comments</h1>
        <div *ngIf = "isLogged">
          <label>Leave a review</label>
          <textarea rows="5" placeholder="Enter the comment" [(ngModel)]="descriptionText"></textarea>
          <button class = "comment-btn" type="button" (click)=newComment()>Post</button>
          <br>
        </div>

        <div>
          <div *ngFor="let comment of comments">
            <div>
              <div class="review">
                <span><strong>{{comment.username}}</strong></span><br>
                <span>
                    <span><strong>Comment:</strong></span>
                    <p id = "comment-desc">
                      {{comment.description}}
                    </p>
                  </span>
              </div>
              <div>
                <button *ngIf="comment.username === currentUserName && !updateClick" class = "comment-btn"
                        (click)="editButton(comment.id)">Edit
                </button>
                <div *ngIf="updateClick && comment.id === id">
                  <textarea [(ngModel)]="updatedDescription" placeholder="Edit your comment"></textarea>
                  <button *ngIf="comment.username === currentUserName && updateClick"
                          (click)="updateButton(comment)">Change
                  </button>
                </div>
                <button *ngIf="comment.username === currentUserName" class = "comment-btn"
                        (click)="deleteButton(comment)">Delete
                </button>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      </body>
    </div>
  </div>
</div>
