<div *ngIf="voucher">
  <div class="voucher-banner-poster">
    <img src="assets/vouchers/{{voucher.poster}}" alt="voucher poster">
  </div>
  <div class="voucher-detail-container">
    <div class="voucher-poster">
      <img src="assets/vouchers/{{voucher.img}}" alt="voucher poster">
    </div>
    <div class="voucher-detail">
      <h2>{{voucher.name}}</h2>
      <div class="short-info">
        <div class="rate"><span>Rate: <strong>{{voucher.rate}}</strong></span></div>
        <div class="duration"><span>Price: <strong>{{voucher.price}}</strong></span></div>
      </div>
      <div class="like"><span>Likes: <strong>{{voucher.like}}</strong></span></div>
      <p class="desc">
        {{voucher.description}}
      </p>
      <button (click)="goBack()" class="backButton">Go Back</button>
      <div class="buttons">
        <p *ngIf="isLiked === false">
          <button (click)="onClick()" class="likeButton">Like</button>
        </p>
        <p *ngIf="isLiked === true">
          <button (click)="onClick()" class="likeButton">Unlike</button>
        </p>
        <p>
          <button (click)="share(voucher)">Share</button>
        </p>
      </div>
      <body>
      <div class="main-area">
        <h1>Comments</h1>
        <div>
          <label>Leave a review</label>
          <textarea rows="5" placeholder="Enter the comment" [(ngModel)]="descriptionText"></textarea>
        </div>
        <button type="button" (click)=newComment()>Post</button>
        <br>
        <div>
          <div *ngFor="let comment of comments">
            <div>
              <div class="review">
                <span>{{comment.username}}</span><br>
                <span>
                    <span>Comment:</span>
                    <p>
                      {{comment.description}}
                    </p>
                  </span>
              </div>
              <div>
                <button *ngIf="comment.username === currentUserName && !updateClick" class="dlt"
                        (click)="editButton(comment.id)">Edit
                </button>
                <div *ngIf="updateClick && comment.id === id">
                  <textarea [(ngModel)]="updatedDescription" placeholder="Edit your comment"></textarea>
                  <button *ngIf="comment.username === currentUserName && updateClick"
                          (click)="updateButton(comment)">Change
                  </button>
                </div>
                <button *ngIf="comment.username === currentUserName"
                        (click)="deleteButton(comment)">Delete
                </button>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      </body>
    </div>
  </div>
</div>
