<div class="search-bar">
  <input [(ngModel)]="searchText" name="searchText" type="search" placeholder="Search for vouchers..."
         aria-label="Search">
</div>
<div class="main-container">
  <div class="vouchers-list-header">
    <span class="count">
      {{vouchers.length}} Vouchers
    </span>
  </div>
  <div class="vouchers-list">
    <div *ngFor="let voucher of vouchers | filter: searchText" class="voucher">
      <a [routerLink]="['/vouchers', voucher.id]">
        <figure>
          <img src="assets/vouchers/{{voucher.img}}" alt="voucher" class="voucher-poster">
        </figure>
        <p class="title">{{voucher.name}}</p>
        <p class="rate">Rate: {{voucher.rate}}</p>
      </a>
    </div>
  </div>
</div>
