<div class="login-page">
  <form [formGroup]="form" (submit)="loginFunc()" class="form">
    <h3 class="title">Log in</h3>
    <div class="input-group">
      <label for="username">Username</label>
      <input formControlName="username" id="username" type="text" placeholder="Username" required/>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <div>
        <input formControlName="password" id="password" type="{{showPassword ? 'text' : 'password'}}" placeholder="Password" required>
        <div>
          <span class="password-toggle" (click)="toggleShowPassword()">
            <i class="fa" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
          </span>
        </div>
      </div>
    </div>
    <button type="submit">Log in</button>
    <p class="message">Don't have an account? <a [routerLink]="['/register']">Click here</a></p>
  </form>
</div>

