<div class="login-page">
  <form [formGroup]="form" (submit)="loginFunc()" class="form">
    <h3 class="title">Log in</h3>
    <div class="input-group">
      <label for="username">Username</label>
      <input [(ngModel)]="username" formControlName="username" id="username" type="text" placeholder="Username" required/>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input [(ngModel)]="password" formControlName="password" id="password" type="password" placeholder="Password" required/>
    </div>
    <button type="submit">Log in</button>
    <p class="message">Don't have an account? <a [routerLink]="['/register']">Click here</a></p>
  </form>
</div>

