<div class="login-page">
  <div class="form">
    <h3 class="title">Log in</h3>
    <form class="login-form">
      <div class="input-group">
        <label for="username">Username</label>
        <input id="username" type="text" [(ngModel)]="username" placeholder="Username"/>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input id="password" type="password" [(ngModel)]="password" placeholder="Password"/>
      </div>
      <button type="submit" (click)="loginFunc()">Log in</button>
      <p class="message">Don't have an account? <a [routerLink]="['/register']">Click here</a></p>
    </form>
  </div>
</div>

